<div id="<%= dom_id flight %>">
  <p>
    <strong>Departure airport:</strong>
    <%= flight.departure_airport_id %>
  </p>

  <p>
    <strong>Arrival airport:</strong>
    <%= flight.arrival_airport_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= flight.start_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= flight.duration %>
  </p>

</div>
