<% @search_flights.each do |flight| %>
  <%= flight.radio_button :Select %> 
  <div id='flight_info'>
    <p>
    <strong>Departure Airport:</strong>
    <%= flight.departure_airport.code %>
    </p>

    <p>
    <strong>Arrival Airport</strong>
    <%= flight.arrival_airport.code %>
    </p>

    <p>
    <strong>Start Time</strong>
    <%= flight.start %>
    </p>

    <p>
    <strong>Flight Length</strong>
    <%= flight.flight_duration %> hours
    </p>
  </div>
<% end %>

