<h1>Let's complete your booking!</h1>

<%= form_with model: @booking do |form| %>
  <% if @booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% @booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.fields_for :passengers do |sub_form| %>
      <%= sub_form.label :name %>
      <%= sub_form.text_field :name %>
      <br>
      <%= sub_form.label :email %>
      <%= sub_form.text_field :email %>
      <br>
    <% end %>
  <%= form.hidden_field :flight_id, value: @flight_id %>
  <%= form.submit 'Confirm Booking'%>
<% end %>