<p style="color: green"><%= notice %></p>

<h1>Show Page</h1>

<% @booking.passengers.each do |passenger| %>
  <h3>Name</h3>
  <%= passenger.name %>

  <h3>Email</h3>
  <%= passenger.email %>
<% end %>

<h3>Departing From:</h3>
<%= @flight.departure_airport.code %>

<h3>Depart Time</h3>
<%= @flight.start%>

<h3>Arriving At:</h3>
<%= @flight.arrival_airport.code %>

<h3>Flight Duration:</h3>
<%= @flight.flight_duration%>hours
